## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Weather,Lat,Lng,Hotel Name
0,0,San Policarpo,PH,79.61,light rain,12.1791,125.5072,Agapita M. Nicart
1,1,Kismayo,SO,82.60,clear sky,-0.3582,42.5454,Agan-Hotel
2,2,Vaini,TO,73.56,few clouds,-21.2000,-175.2000,Keleti Beach Resort
3,3,Tura,IN,69.22,clear sky,25.5198,90.2201,Hotel RIKMAN Continental
4,4,Cape Town,ZA,76.12,clear sky,-33.9258,18.4232,Southern Sun Waterfront Cape Town

In [3]:
# 2. Using the template add the city name, the country code, 
# the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Current Weather</dt><dd>{Current Weather}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=2.15)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
vacation_df.head(20)

,City_ID,City,Country,Max Temp,Current Weather,Lat,Lng,Hotel Name
0,0,San Policarpo,PH,79.61,light rain,12.1791,125.5072,Agapita M. Nicart
1,1,Kismayo,SO,82.60,clear sky,-0.3582,42.5454,Agan-Hotel
2,2,Vaini,TO,73.56,few clouds,-21.2000,-175.2000,Keleti Beach Resort
3,3,Tura,IN,69.22,clear sky,25.5198,90.2201,Hotel RIKMAN Continental
4,4,Cape Town,ZA,76.12,clear sky,-33.9258,18.4232,Southern Sun Waterfront Cape Town
5,5,Namalenga,TZ,91.27,overcast clouds,-10.9500,39.1000,NaN
6,6,Rikitea,PF,73.31,clear sky,-23.1203,-134.9692,People ThankYou
7,7,Port Elizabeth,ZA,70.09,light rain,-33.9180,25.5701,39 On Nile Guest House
8,8,Hithadhoo,MV,82.92,scattered clouds,-0.6000,73.0833,Scoop Guest House
9,9,Port Alfred,ZA,73.02,overcast clouds,-33.5906,26.8910,The Halyards Hotel
10,10,Sinnamary,GF,83.64,overcast clouds,5.3833,-52.9500,ALETHEIA Appartement Sinnamary
11,11,Boyolangu,ID,78.03,overcast clouds,-8.1181,111.8935,Yos ega cv
12,12,Makakilo City,US,73.29,overcast clouds,21.3469,-158.0858,Marriott's Ko Olina Beach Club
13,13,Vao,NC,70.75,scattered clouds,-22.6667,167.4833,Hotel Kou-Bugny
14,14,Iquitos,PE,78.84,broken clouds,-3.7481,-73.2472,Casa Morey Hotel & Restaurant
15,15,Nushki,PK,67.41,clear sky,29.5542,66.0215,Shams hotel
16,16,East London,ZA,72.54,clear sky,-33.0153,27.9116,Tu Casa
17,17,Kruisfontein,ZA,76.82,light rain,-34.0033,24.7314,Oyster Bay House Rental
18,18,Kalabo,ZM,91.18,scattered clouds,-14.9700,22.6814,Sikakubete Guest House Kalabo Town Council
19,19,Mar Del Plata,AR,84.22,clear sky,-38.0023,-57.5575,Gran Hotel Mar del Plata

In [7]:
#vacation_start

In [8]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities.
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method.
# Hint: The starting and ending city should be the same city.
vacation_start = vacation_df.loc[vacation_df['City']=='Yeppoon']
vacation_end = vacation_df.loc[vacation_df['City']=='Yeppoon']
vacation_stop1 = vacation_df.loc[vacation_df['City']=='Hervey Bay']
vacation_stop2 = vacation_df.loc[vacation_df['City']=='Byron Bay']
vacation_stop3 = vacation_df.loc[vacation_df['City'] == 'Dalby']

In [9]:
# 6. Get the latitude-longitude pairs as tuples from each city 
# DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]

In [16]:
start

(-23.1333, 150.7333)

In [11]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
round_trip_route = gmaps.directions_layer(
        start, end, waypoints=[stop1,stop2,stop3],
        travel_mode='DRIVING')
fig.add_layer(round_trip_route)
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3],axis=0,ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Weather,Lat,Lng,Hotel Name
0,253,Yeppoon,AU,73.18,clear sky,-23.1333,150.7333,Villa Mar Colina
1,194,Hervey Bay,AU,76.03,clear sky,-25.2986,152.8535,Shelly Bay Resort
2,348,Byron Bay,AU,75.15,broken clouds,-28.6500,153.6167,Backpackers Inn on the Beach
3,310,Dalby,AU,70.99,light rain,-27.1833,151.2667,Kobbers Motor Inn Dalby

In [13]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Current Weather</dt><dd>{Current Weather}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [15]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=2.15)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))