In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Vaini,TO,2021-10-25 22:07:34,-21.2000,-175.2000,78.96,78,20,10.36
1,1,Nanortalik,GL,2021-10-25 22:11:19,60.1432,-45.2371,33.76,60,27,7.65
2,2,Nikolskoye,RU,2021-10-25 22:11:19,59.7035,30.7861,46.87,85,99,9.57
3,3,Chokurdakh,RU,2021-10-25 22:06:57,70.6333,147.9167,-23.42,100,97,1.77
4,4,Hithadhoo,MV,2021-10-25 22:11:20,-0.6000,73.0833,83.03,71,87,16.71

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
print(len(city_data_df["City_ID"]))

581

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [6]:
# 6.5.2

# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=2.25)
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=350, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
#fig = gmaps.figure(center=(30.0, 31.0), zoom_level=2)
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=2.25)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=2.25)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

In [10]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Vaini,TO,2021-10-25 22:07:34,-21.2000,-175.2000,78.96,78,20,10.36
4,4,Hithadhoo,MV,2021-10-25 22:11:20,-0.6000,73.0833,83.03,71,87,16.71
5,5,Rikitea,PF,2021-10-25 22:11:20,-23.1203,-134.9692,75.22,72,86,20.02
20,20,Bilma,NE,2021-10-25 22:11:25,18.6853,12.9164,81.81,15,0,4.16
27,27,Butaritari,KI,2021-10-25 22:11:27,3.0707,172.7902,81.52,75,7,7.45
29,29,Kavaratti,IN,2021-10-25 22:11:27,10.5669,72.6420,82.22,74,44,14.18
30,30,Tual,ID,2021-10-25 22:11:27,-5.6667,132.7500,83.08,75,36,7.72
31,31,Ugoofaaru,MV,2021-10-25 22:11:28,5.6667,73.0000,81.63,77,90,10.87
33,33,Acajutla,SV,2021-10-25 22:11:28,13.5928,-89.8275,93.54,75,31,4.74
35,35,Morondava,MG,2021-10-25 22:11:29,-20.2833,44.2833,78.69,65,82,4.09

In [11]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [12]:
preferred_cities_df.notnull().sum()

City_ID       176
City          176
Country       176
Date          176
Lat           176
Lng           176
Max Temp      176
Humidity      176
Cloudiness    176
Wind Speed    176
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
0        Vaini      TO     78.96 -21.2000 -175.2000
4    Hithadhoo      MV     83.03  -0.6000   73.0833
5      Rikitea      PF     75.22 -23.1203 -134.9692
20       Bilma      NE     81.81  18.6853   12.9164
27  Butaritari      KI     81.52   3.0707  172.7902
29   Kavaratti      IN     82.22  10.5669   72.6420
30        Tual      ID     83.08  -5.6667  132.7500
31   Ugoofaaru      MV     81.63   5.6667   73.0000
33    Acajutla      SV     93.54  13.5928  -89.8275
35   Morondava      MG     78.69 -20.2833   44.2833

In [17]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}    

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [19]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Vaini,TO,78.96,-21.2000,-175.2000,Keleti Beach Resort
4,Hithadhoo,MV,83.03,-0.6000,73.0833,Scoop Guest House
5,Rikitea,PF,75.22,-23.1203,-134.9692,People ThankYou
20,Bilma,NE,81.81,18.6853,12.9164,Expeditions Ténére voyages
27,Butaritari,KI,81.52,3.0707,172.7902,Isles Sunset Lodge
29,Kavaratti,IN,82.22,10.5669,72.6420,Hotels in Lakshadweep Islands
30,Tual,ID,83.08,-5.6667,132.7500,Grand Vilia Hotel
31,Ugoofaaru,MV,81.63,5.6667,73.0000,Ungoofaaru Inn
33,Acajutla,SV,93.54,13.5928,-89.8275,asi es
35,Morondava,MG,78.69,-20.2833,44.2833,La Case Bambou

In [22]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=2.15)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [24]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [25]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))