In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Vaini,TO,2021-10-25 22:07:34,-21.2000,-175.2000,78.96,78,20,10.36
1,1,Nanortalik,GL,2021-10-25 22:11:19,60.1432,-45.2371,33.76,60,27,7.65
2,2,Nikolskoye,RU,2021-10-25 22:11:19,59.7035,30.7861,46.87,85,99,9.57
3,3,Chokurdakh,RU,2021-10-25 22:06:57,70.6333,147.9167,-23.42,100,97,1.77
4,4,Hithadhoo,MV,2021-10-25 22:11:20,-0.6000,73.0833,83.03,71,87,16.71

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
print(len(city_data_df["City_ID"]))

581

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [8]:
# 6.5.2

# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
#fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig

Figure(layout=FigureLayout(height='420px'))