## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

ModuleNotFoundError: No module named 'requests'

In [3]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Max Temp,Current Weather,Lat,Lng,Hotel Name
0,0,San Policarpo,PH,79.61,light rain,12.1791,125.5072,Agapita M. Nicart
1,1,Kismayo,SO,82.60,clear sky,-0.3582,42.5454,Agan-Hotel
2,2,Vaini,TO,73.56,few clouds,-21.2000,-175.2000,Keleti Beach Resort
3,3,Tura,IN,69.22,clear sky,25.5198,90.2201,Hotel RIKMAN Continental
4,4,Cape Town,ZA,76.12,clear sky,-33.9258,18.4232,Southern Sun Waterfront Cape Town

In [4]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 

min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 60
What is the maximum temperature you would like for your trip? 100

In [5]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Max Temp,Current Weather,Lat,Lng,Hotel Name
0,0,San Policarpo,PH,79.61,light rain,12.1791,125.5072,Agapita M. Nicart
1,1,Kismayo,SO,82.60,clear sky,-0.3582,42.5454,Agan-Hotel
2,2,Vaini,TO,73.56,few clouds,-21.2000,-175.2000,Keleti Beach Resort
3,3,Tura,IN,69.22,clear sky,25.5198,90.2201,Hotel RIKMAN Continental
4,4,Cape Town,ZA,76.12,clear sky,-33.9258,18.4232,Southern Sun Waterfront Cape Town
5,5,Namalenga,TZ,91.27,overcast clouds,-10.9500,39.1000,NaN
6,6,Rikitea,PF,73.31,clear sky,-23.1203,-134.9692,People ThankYou
7,7,Port Elizabeth,ZA,70.09,light rain,-33.9180,25.5701,39 On Nile Guest House
8,8,Hithadhoo,MV,82.92,scattered clouds,-0.6000,73.0833,Scoop Guest House
9,9,Port Alfred,ZA,73.02,overcast clouds,-33.5906,26.8910,The Halyards Hotel

In [6]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID             0
City                0
Country             0
Max Temp            0
Current Weather     0
Lat                 0
Lng                 0
Hotel Name         23
dtype: int64

In [7]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df.dropna(subset=["Country"], inplace=True)

In [8]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Weather", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Weather,Lat,Lng,Hotel Name
0,San Policarpo,PH,79.61,light rain,12.1791,125.5072,
1,Kismayo,SO,82.60,clear sky,-0.3582,42.5454,
2,Vaini,TO,73.56,few clouds,-21.2000,-175.2000,
3,Tura,IN,69.22,clear sky,25.5198,90.2201,
4,Cape Town,ZA,76.12,clear sky,-33.9258,18.4232,
5,Namalenga,TZ,91.27,overcast clouds,-10.9500,39.1000,
6,Rikitea,PF,73.31,clear sky,-23.1203,-134.9692,
7,Port Elizabeth,ZA,70.09,light rain,-33.9180,25.5701,
8,Hithadhoo,MV,82.92,scattered clouds,-0.6000,73.0833,
9,Port Alfred,ZA,73.02,overcast clouds,-33.5906,26.8910,

In [9]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [17]:
import gmaps
import gmaps.datasets

In [18]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.dropna(subset=["Hotel Name"], inplace=True)

In [19]:
# 8a. Create the output File (CSV)
output_data_file = "../weather_database/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [20]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Current Weather</dt><dd>{Current Weather}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [16]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=2.15)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [ ]:
gmaps.configure(api_key='AIza...')

# Latitude-longitude pairs
geneva = (46.2, 6.1)
montreux = (46.4, 6.9)
zurich = (47.4, 8.5)

fig = gmaps.figure()
geneva2zurich = gmaps.directions_layer(geneva, zurich)
fig.add_layer(geneva2zurich)
fig